<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" placeholder="email" [(ngModel)]="authData.email" name="email">

  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" placeholder="password" [(ngModel)]="authData.password" name="password">
    <button (click)="login()">Accedi</button>
  </mat-form-field>
</form>
