.container {
    width: 90%;
    max-width: 60em;
    margin: 0 auto;
    padding-bottom: 5em;
    perspective: 100em;
  }
  
  .box {
    position: relative;
    width: 15em;
    height: 15em;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    
    &[data-slide="1"] { transform: rotateY(0deg); }
    &[data-slide="2"] { transform: rotateY(-90deg); }
    &[data-slide="3"] { transform: rotateY(-180deg); }
    &[data-slide="4"] { transform: rotateY(-270deg); }
  }
  
  .box_slide {
    position: absolute;
    width: 15em;
    height: 15em;
    background: white;
    
    
    img { width: 100%; }
  }
  
  .back, .carousel__slide:nth-child(3) {
      transform: translateZ(-7.5em) rotateY(180deg);
  }
  
  .right, .box_slide:nth-child(2) {
      transform: rotateY(-270deg) translateX(7.5em);
      transform-origin: top right;
  }
  
  .left, .box_slide:nth-child(4) {
      transform: rotateY(270deg) translateX(-7.5em);
      transform-origin: center left;
  }
  
  .front, .box_slide:nth-child(1) {
      transform: translateZ(7.5em);
  }
  
  .next, .prev {
    position: absolute;
    top: 50%;
    right: 0;
    width: 7em;
    margin-top: -2.5em;
    border-radius: 3px;
    background: darken;
    text-align: center;
    line-height: 3;
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
  }
  