
h1, h2{
    text-align: center;
}
#esercizio1{
    background-color: blue;
    color: white;
    
}
#esercizio2{
    background-color: yellow;
    color: rgb(0, 0, 0);
   
}
#esercizio3{
    background-color: green;
    color: rgb(255, 255, 255);
   
}
#esercizio4{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
   
}
#esercizio5{
    background-color: rgb(53, 181, 210);
    color: rgb(255, 255, 255);
   
}
#esercizio6{
    background-color: black;
    color: rgb(255, 255, 255);
   
}