<div>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input
      ngModel name="email"
      id="email" type="email" class="form-control" placeholder="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
      ngModel name="password"
      id="password" type="password" class="form-control" placeholder="password">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" id="city">
        <option value="">Selezione</option>
        <option value="Roma">Roma</option>
        <option value="Milano">Milano</option>
        <option value="Sacile">Sacile</option>
      </select>
    </div>
    <button></button>
  </form>
</div>
