
body{
    font-family: 'Lato', sans-serif !important;
}

table{
    width: 100%;
}

table th{
    font-size: 20px;
}

.tr-th{
    border-bottom: 3px solid black;
}

.tr-users{
    border-bottom: 1px solid lightgray;
}

/* .tr-users:hover{
    box-shadow: 0px 2px 1px lightgray, 0px -2px 1px lightgray;
}

.btn:hover{
    transform: scale(1.05) !important;
}

.btn-success{
    background: rgb(34,195,115);
    background: linear-gradient(180deg, rgb(25, 163, 94) 0%, rgb(8, 224, 127) 100%);
    border: none !important;
}
.btn-info{
    background: rgb(34,137,195);
    background: linear-gradient(180deg, #6cc2f4 0%, #4ab6e4 100%);
    border: none !important;
}
.btn-warning{
    background: rgb(195,162,34);
background: linear-gradient(180deg, rgb(255, 200, 59) 0%, rgba(254,246,84,1) 100%);
    border: none !important;
}
.btn-danger{
    background: rgb(195,34,34);
    background: linear-gradient(180deg, rgba(195,34,34,1) 0%, rgba(254,131,84,1) 100%);
    border: none !important;
} */

.main{
    height: 30vw;
    display: flex;
    align-items: center;
    background-image: url(../img/ux-indonesia-qC2n6RQU4Vw-unsplash_1.jpg);
    background-size: cover;
    position: relative;
}

.accordion-button{
    margin-top: -30px;
}