body{
    margin-left: 30px;
    margin-right: 30px;
    h1{
        font-size:2rem;
    }
    .logo{
        font-size: 3rem;
    }
    .my-1{
        font-size: 1.5rem;
    }
    p{
        line-height: 2;
        text-decoration: none;
    }
    ul{
        li{
            padding: 5px;
            text-decoration: none;
        }
    }
}