/* IMPOSTAZIONI GENERALI */
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem #000;
    line-height: 1.8;


}
h1{
    font-size:4rem;
    

}
.con, .we{
    text-align: center;
}
h2{
    font-size:3.5rem;
}
header {
    background-color: white;
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.chiedi, .scrivici, .invia{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(8,8,135,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(8,8,135,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(8,8,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#080887",GradientType=1);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    margin: 15px 0 15px 0;
    
}

/* HEADER */

#menu{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    
    flex: end;
}
#apri-menu{
    display: none;
}
input:checked + #menu{
    height: 100px;
}

/* MAIN */
.contatti{
    display: flex;
    flex-direction: column;
}

blockquote {
    width: auto;
    height: 26vh;
    background-color: #0c0633;
}  
blockquote p, h3{
    color: white;
    text-align: center;
} 
#sottosfondo{
    background-image: url(../images/banner.jpg);
    background-repeat:cover;
    background-position: center;
    text-align: left;
}
aside, .centro{
    text-align: center;
}
p i{
    color: red;
}

/* FOOTER */
footer{
    background-color:rgb(238, 238, 238);
    height: 250px;
    width: auto;
}


/* RESPONSIVE */
